*{
    margin-top: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: linear-gradient(180.43deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.80) 100%), 
                      url('images/gio-shravan-dOA1LBTfJcI-unsplash.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh; 
    background-attachment: fixed;
    color: white;
}
.navbar{
    /*background-color: #d8a068;*/
    height: 100px;
    margin: 15px;
    margin-left: 60px;
    width: 90%;
    margin-bottom: 0%;
}
.nav-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    font-size: 17px;
}
.nav-links a{
    text-decoration: none;
    color: bisque;
}
.nav-links a:hover {
    color: #f4c430; /* saffron gold */
    text-shadow: 1px 1px 5px rgba(244, 196, 48, 0.5);
}
#img{
    height: 100px;
    width: 70px;
    object-fit: contain;
}
#icon{
    display: flex;
    flex-direction: row;
    color: bisque;
    font-size: 16px;
    height: 100px;
    width: 150px;
    justify-content: center;
    align-items: center;
}
#icon h2{
    margin-top: 20px;
    font-family: "Winky Rough", sans-serif;
}
.hero{
    margin: 65px;
    margin-left: 350px;
    height: fit-content;
    position: relative;
    font-family: "Winky Rough", sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #4b2e12;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    max-width: 800px;
    background-color: rgba(245, 235, 215, 0.9);
}
.hero-head{
    display: flex;
    flex-direction: row;
}
.hero-head img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    align-self: center;
}
.hero-head h2{
    padding: 6px;
    margin: 0%;
    font-size: 38px;
    font-family: "Winky Rough", sans-serif;
    margin-right: 10px;
}
.hero h3{
    font-family: "Winky Rough", sans-serif;
    margin-right: 10px;
    margin-bottom: 0%;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero p{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding: 2px;
    margin-top: 6px;
}
.temples{
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
    gap: 20px;
    column-gap: 10px;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 20px;
}
#temple{
    color: #F7E7CE;
    margin: 40px;
    text-align: center;
}
.temples figure{
    height: 350px;
    width: 250px;
    background-color: #F7E7CE;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    color: #4b2e12;
    text-align: center;
}
.temples img{
    height: 300px;
    width: 200px;
    object-fit: contain;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-head{
    height: fit-content;
    width: 100%;
}
.foot-head h3{
    text-align: center;
    color: antiquewhite;
    font-family: "Winky Rough", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
}
.foot-head p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.head img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    align-self: center;
}
#hr{
    width: 100%;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links ul{
    margin: 40px;
    text-decoration: none;
}
.links li,a,dd,dt{
    text-decoration: none;
    list-style-type: none;
    color: #f4c430;
    padding: 10px;
    text-align: center;
}
.links dt{
    margin-left: 10px;
}
.links h3{
    text-align: center;
}

